<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ビジュアル化</h2>
        <%= render partial: "form", locals: { visualizing: @visualizing } %>
    </div>
  </div>
</div>