<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">メンタルマップ作成</h2>
        <%= render partial: "form", locals: { mentalmap: @mentalmap } %>
    </div>
  </div>
</div>