<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">要約化</h2>
        <%= render partial: "form", locals: { summarizing: @summarizing } %>
    </div>
  </div>
</div>