<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">質問読み</h2>
        <%= render partial: "form", locals: { questioning: @questioning } %>
    </div>
  </div>
</div>