<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">目次チェック</h2>
        <%= render partial: "form", locals: { resume: @resume } %>
    </div>
  </div>
</div>